{deps
, [ {clojerl, ".*", {git, "https://github.com/clojerl/clojerl.git", {ref, "0fcf2de"}}}
  , {cowboy,  "2.9.0"}
  ]
}.

{ plugins
, [ {'rebar3_clojerl', "0.8.5"}
  ]
}.

{clje_main, 'web-app.main'}.

{relx, [ { release
         , {'web-app', "0.1.0"}
         , [sasl, 'web-app']
         }
       , {sys_config, "./config/sys.config"}
       , {vm_args, "./config/vm.args"}
       , {dev_mode, true}
       , {include_erts, false}
       , {extended_start_script, true}
       ]
}.
